# ========== for mysql-10.3.x ==========
[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
log-error=/var/log/mariadb/mariadb.log
pid-file=/run/mariadb/mariadb.pid
character_set_server = utf8mb4
collation-server = utf8mb4_general_ci
skip_external_locking
skip_name_resolve
connect_timeout = 10
max_connections = 1000
wait_timeout = 600
open_files_limit = 1000
bind-address = 0.0.0.0

# ========== for mysql-5.7.x ==========





# ========== for mysql-5.6.x ==========
tar -zxf mysql-5.6.50-linux-glibc2.12-x86_64.tar.gz
mv mysql-5.6.x mysql

vi mysql/my.cnf
[mysqld]
lower_case_table_names = 1
user = mysql
port = 3306
bind_address = 0.0.0.0
socket = /tmp/mysql.sock
pid-file = /xx/mysql/mysql.pid
basedir = /xx/mysql
datadir = /xx/mysql/data
max_connections = 200
character-set-server = utf8
default-storage-engine = INNODB
skip-name-resolve
default-time-zone = '+08:00'
max_allowed_packet = 64M
explicit_defaults_for_timestamp = true
sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES
[mysql]
default-character-set = utf8

chmod 664 my.cnf
useradd -M -s /bin/false mysql
chown -R mysql:mysql mysql
apt install libaio1   # 安装依赖
# 初始化mysql
mysql/scripts/mysql_install_db --defaults-file=mysql/my.cnf --user=mysql
# 启动mysql
mysqld_safe --defaults-file=mysql/my.cnf &
# 默认root用户无密码登陆,设置root密码
mysql -uroot -e 'update mysql.user set password=password("root") where user="root" and host="localhost";'
mysql -uroot -e 'flush privileges;'


