[Unit]
Description=FRP Service 
After=network.target
Documentation=https://github.com/fatedier/frp

[Service]
Type=simple
User=nobody
#WorkingDirectory=/opt/frp
#ExecStart=/opt/frp/frps -c /opt/frp/frps.ini
ExecStart=/opt/frp/frpc -c /opt/frp/frpc.ini  
ExecReload=/opt/frp/frpc -c /opt/frp/frpc.ini reload
RestartSec=5s
Restart=on-failure

[Install]
WantedBy=multi-user.target
